setuptools==68.2.2
wheel
numpy==1.24.3
streamlit==1.22.0
langchain_groq 
langchain_community 
pypdf 
sentence_transformers
python-dotenv
faiss-cpu
transformers
huggingface_hub
protobuf==3.20.3
torch==2.2.2
